<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='Bootstrap/css/bootstrap.min.css') }}">
    <link rel="shortcut icon" href="{{ url_for('static', filename='icono.ico') }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
    {% block head %} {% endblock %}
    <title>{% block title %} {% endblock %}-FONASA</title>    
</head>

<body>
    <header>
        {% include 'nav.html' %}
    </header>

    <div class="w-100 d-flex justify-content-center">
        <div id="notificaciones" class="d-flex justify-content-center w-50"></div>
    </div>

    <div class="container">        
    
        {% block body %} 
        
        {% endblock %}
    </div>


    <script type="text/javascript" src="{{ url_for('static', filename='Bootstrap/jquery-3.5.1.slim.min.js') }}"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='Bootstrap/js/bootstrap.min.js') }}"></script>
    <!-- <script type="text/javascript" src="{{ url_for('static', filename='Bootstrap/js/popper.min.js')}}"></script> -->
    <script src="https://kit.fontawesome.com/40afa966e3.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="{{ url_for('static', filename='js/index.js') }}"></script>
</body>
</html>