{% extends 'Base.html' %}

{% block title %}Ingreso Pacientes{% endblock %}

{% block head %} 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
{% endblock %}

{% block body %}
    <table class="tabla table-dark table table-striped table-hover table-bordered rounded mt-3" id="table-pacientes-actuales">
        <thead class="text-center">                            
            <th>Nombre</th>
            <th>Edad</th>
            <th>Historia clinica</th>
            <th>Prioridad</th>
            <th>Riesgo</th>
            <th>Ingresar</th>
        </thead>
        <tfoot class="text-center">
            <tr>
                <th colspan="6">PACIENTES</th>
            </tr>
        </tfoot>
        <tbody id="table-pacientes-body" class="text-center">
        </tbody>                        
    </table>


    <script type="text/javascript" src="{{ url_for('static', filename='Bootstrap/jquery-3.5.1.slim.min.js') }}"></script>
        <!-- Datatables compatible con boostrap -->
        <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js"></script>
        <script src="{{ url_for('static', filename='js/dataTable.js')}}"></script>
        
        
        <!-- Axios JS -->
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>        
        <script src="{{ url_for('static', filename='js/ingresoPacientes.js')}}"></script>

        <!-- <script>
            window.onload = crearDataTable();

            function cargarPacientes(){

                axios.get(`${api.url}/consultarPacientes`).then( response =>{
                    tablaPacientes.innerHTML = '';
                    //response.data.forEach(paciente =>{
                        //actualizarTablaConsultas(paciente);
                    //});
                    const datos = response.data;
                    cargarDataTable(datos);
            
                }).catch(e =>{
                    console.log(e);
                })
            }
            
            function crearDataTable(){
                const datos = [            
                    ["prueba","prueba","prueba","prueba","prueba","<select><option>select</option></select>"],
                    ["prueba","prueba","prueba","prueba","prueba","<select><option>select</option></select>"],
                    ["prueba","prueba","prueba","prueba","prueba","<select><option>select</option></select>"],
                    ["prueba","prueba","prueba","prueba","prueba","<select><option>select</option></select>"],
                    ["prueba","prueba","prueba","prueba","prueba","<select><option>select</option></select>"],
                    ["prueba","prueba","prueba","prueba","prueba","<select><option>select</option></select>"],
                    ["prueba","prueba","prueba","prueba","prueba","<select><option>select</option></select>"]
                ]
                cargarDataTable();
                //probarSelect(datos);
                cargarDatosPr();
            }

            var Ptabla = null;

            function cargarDataTable(){
                Ptabla =   $('.tabla').DataTable({
                    language : {
                        "sProcessing":     "Procesando...",
                        "sLengthMenu":     "Mostrar _MENU_ registros",
                        "sZeroRecords":    "No se encontraron resultados",
                        "sEmptyTable":     "Ningún dato disponible en esta tabla",
                        "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
                        "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
                        "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
                        "sInfoPostFix":    "",
                        "sSearch":         "Buscar:",
                        "sUrl":            "",
                        "sInfoThousands":  ",",
                        "sLoadingRecords": "Cargando...",
                        "oPaginate": {
                            "sFirst":    "Primero",
                            "sLast":     "Último",
                            "sNext":     "Siguiente",
                            "sPrevious": "Anterior"
                        },
                        "oAria": {
                            "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
                            "sSortDescending": ": Activar para ordenar la columna de manera descendente"
                        },
                        "buttons": {
                            "copy": "Copiar",
                            "colvis": "Visibilidad"
                        }
                    }
                });
            }
            function cargarDatosPr(){
            axios.get(`${api.url}/consultarPacientes`).then( response =>{
                tablaPacientes.innerHTML = '';
                //response.data.forEach(paciente =>{
                    //actualizarTablaConsultas(paciente);
                //});
                
                const datos = [];
                response.data.forEach( paciente =>{
                    pac = [`${paciente.nombre}`, 
                    `${paciente.edad}`, 
                    `${paciente.noHistoriaClinica}`, 
                    `${paciente.prioridad}`, 
                    `${paciente.riesgo}`,
                    `<a href="javascript:void(0);" onclick=ingresarPaciente(${paciente.id})><i class="fas fa-ticket-alt text-success h4"></i></a>`
                ]
                datos.push(pac);
                });
                probarSelect(datos);
        
                // cargarDataTable(datos);
                // function probarSelect(datos){
                //     let tabla = $('.tabla').DataTable({});
                //     tabla.rows.add(datos).draw().node();
                // }
            }).catch(e =>{
                console.log(e);
            })
        }

            function probarSelect(datos){
                //let tabla = $('.tabla').DataTable({});
                Ptabla.rows.add(datos).draw().node();
            }
        </script> -->
        
{% endblock %}