{% extends 'Base.html' %}

{% block title %}Ingreso Pacientes{% endblock %}

{% block head %} 
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.css">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/dataTables.bootstrap4.min.css"> 
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css')}}">
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
{% endblock %}

{% block body %}
    <table class="mt-5 tabla table-dark table table-striped table-hover table-bordered rounded  tbl-ingreso-pacientes" id="table-pacientes-actuales">
        <thead class="text-center">                            
            <th>Nombre</th>
            <th>Edad</th>
            <th>Historia clinica</th>
            <th>Prioridad</th>
            <th>Riesgo</th>
            <th>Ingresar</th>
        </thead>
        <tfoot class="text-center">
            <tr>
                <th colspan="6">PACIENTES</th>
            </tr>
        </tfoot>
        <tbody id="table-pacientes-body" class="text-center">
        </tbody>                        
    </table>


        <script type="text/javascript" src="{{ url_for('static', filename='Bootstrap/jquery-3.5.1.slim.min.js') }}"></script>
        <!-- Datatables compatible con boostrap -->
        <script src="https://cdn.datatables.net/1.10.23/js/jquery.dataTables.min.js"></script>
        <script src="https://cdn.datatables.net/1.10.23/js/dataTables.bootstrap4.min.js"></script>
        <script src="{{ url_for('static', filename='js/dataTable.js')}}"></script>
        
        
        <!-- Axios JS -->
        <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>        
        <script src="{{ url_for('static', filename='js/ingresoPacientes.js')}}"></script>

      
{% endblock %}